<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book List</title>
</head>

<body>
    <h1>Update the Product</h1>
    <form action="/products/<%=productsEdit._id%>?_method=PUT" method="POST">
        <!--  NOTE: the form is pre-populated with values for the server-->
        Name:        <input type="text" name="name" value="<%=productsEdit.name%>" />  <br />
        Description: <input type="text" name="description" value="<%=productsEdit.description%>" />   <br />
        Image:       <input type="text" name="img" value="<%=productsEdit.img%>" />  <br />
        Price: $     <input type="number" name="price" value="<%=productsEdit.price%>" /> <br>
        Quantity:    <input type="number" name="qty" value="<%=productsEdit.qty%>" />
        <input type="submit" value="Submit Changes" />
    </form>
</body>

</html>